{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'passgen/styles.css' %}">
    <title>Password Generator</title>
</head>
<body>
    <a class="backButton" href="{% url 'index' %}">New password</a>
    <div class="titleContainer">
        <h1 class="title">Password Generator</h1>
    </div>

    <div class="card">
        <p class="password">{{ password }}</p>
        <button onclick="myFunction()" class="copyButton">Copy text</button>
    </div>

    <script>
        function myFunction() {
            var copyText = document.querySelector(".password");
            var tempInput = document.createElement("input");
            tempInput.value = copyText.innerText;

            document.body.appendChild(tempInput);
            tempInput.select();
            tempInput.setSelectionRange(0, 99999); // For mobile devices
            navigator.clipboard.writeText(tempInput.value);
            document.body.removeChild(tempInput);

            alert("Copied the text: " + tempInput.value);
        }
    </script>
</body>
</html>
